@import "../../styles/base.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  // position: fixed;
  width: 100%;
  background-color: $header-montana;
  color: #fff;
  font-size: 20px;
  z-index: 100;
}

.navigations {
  display: none;
  a {
    padding: 20px;
  }
}

.line {
  width: 35px;
  border: 1px solid #ffffff;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 30px 50px;
  }
  .harmburger-menu {
    display: none;
  }

  .navigations {
    display: block;
  }
}
